<nav>
  <div>
    <div>

      <div class="logo-container">
        <a href="/collections" class="logo">Sneakers</a>
      </div>
     
      <div class="links-container">
        <ul>
          <li ><a routerLink="/collections" routerLinkActive="Active">Collections</a></li>
          <li ><a routerLink="/men" routerLinkActive="active">Men</a></li>
          <li ><a routerLink="/women" routerLinkActive="active">Women</a></li>
          <li ><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li ><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </div>

      <div class="icon">
        <i class="bi bi-cart-fill"></i>
      </div>
      
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
