<div class="selected-pic">
    <img *ngIf="selectedPicture" [src]="selectedPicture" alt="Selected Image" style="width: 550px; height: 550px;">
</div>
  
<div class="allpicz">
  <div class="container">
    <button (click)="displayPicture('pictures/images.jpeg')">
      <img src="pictures/images.jpeg" alt="Image 1" style="width: 130px; height: 130px;">
    </button>
    <button (click)="displayPicture('pictures/pexels-ingo-609771.jpg')">
      <img src="pictures/pexels-ingo-609771.jpg" alt="Image 2" style="width: 130px; height: 130px;">
    </button>
    <button (click)="displayPicture('pictures/pexels-oandremoura-2562992.jpg')">
      <img src="pictures/pexels-oandremoura-2562992.jpg" alt="Image 3" style="width: 130px; height: 130px;">
    </button>
    <button (click)="displayPicture('pictures/pexels-webdonut-19090.jpg')">
      <img src="pictures/pexels-webdonut-19090.jpg" alt="Image 4" style="width: 130px; height: 130px;">
    </button>
  </div>
</div>