<div class="container">
    <h4>{{ companyName }}</h4>
    <h2 [innerHTML]="companyAttentionGrapper"></h2>
    <p [innerHTML]="companyAttentionGrapperText"></p>
    <h3>{{ (price * discount) | currency: 'USD' }}<em>{{ discount | percent }}</em></h3>
    <p class="underline">{{ price | currency: 'USD' }}</p>

    <div class="twobuttons">
        <div class="numberOfCharts">
            <button class="boutton" (click)="decrementQuantity()"><span>-</span></button>
            <p class="chiffre">{{ quantity }}</p>
            <button class="boutton" (click)="incrementQuantity()"><span>+</span></button>
        </div>
        <div>
            <button class="cartbtn"><i class="bi bi-cart3"></i>{{ cartAdd }}</button>
        </div>
    </div>
</div>